# Database SQL dump
vanshart.sql

# Database Configurations
admin/includes/dbconnection.php
agms/admin/includes/dbconnection.php
agms/includes/dbconnection.php

# Node Modules
node_modules/

# IDE / OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
